/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  /* font-weight: 300; */
  /* -webkit-font-smoothing: antialiased; */
}

html, input, body {
  font-family:
  "HelveticaNeue-Light",
  "Helvetica Neue Light",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Lucida Grande",
  sans-serif;
  font-size: 24px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
}

.container {
  /* width: 100%;
  height: 100%; */
  margin: 0;
  padding: 0;
  border: 0;
  /* padding-top: 32px; */
}

#inner-container {
  /* width: 800px;
  height: 1000px; */
  display: block;
  margin: auto;
}

#winner {
  font-weight: bold;
  font-size: 32px;
}

.top-bar {
  /* background: #333; */
  background: #efefef;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  padding-left: 40px;
}

.top-space {
  height: 40px;
}

.top-bar-text {
  /* color: white; */
  color: black;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  /* should be same as top-bar.height */
  line-height: 40px;
  /* display: inline-block;
  vertical-align: middle; */
}

#color {
  font-weight: bold;
  letter-spacing: 1px;
}

canvas {
  display: block;
  margin: auto;
  /* width: 800px;
  height: 800px; */
  border: solid 1px black;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -ms-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}