

* {
  box-sizing: border-box;
}

html, body, div, canvas {
    /* disable ios tap highlight
     * tapping the canvas shouldn't cause any visual side effects
     */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, input, body {
  font-family:
  "HelveticaNeue-Light",
  "Helvetica Neue Light",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Lucida Grande",
  sans-serif;
  font-size: 16px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
}

.container {
  margin: 0;
  padding: 0;
  border: 0;
}

#inner-container {
  display: block;
  margin: auto;
}

#winner {
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}

.top-bar {
  background: #efefef;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  padding-left: 40px;
}

.top-space {
  height: 40px;
  text-align: center;
}

#top-bar-message, #winner {
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  /* should be same as top-bar.height */
  font-weight: bold;
  line-height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
}

.top-bar-text {
  color: black;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  /* should be same as top-bar.height */
  font-weight: bold;
  line-height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
}

.back-button {
  margin: auto;
  display: block;
  left: 20px;
  color: black;
  text-decoration: none;
  font-weight: normal;
  /* width: 100px; */
  position: fixed;
}

.give-up-button {
  margin: auto;
  display: block;
  right: 20px;
  color: black;
  font-weight: normal;
  text-decoration: none;
  /* width: 100px; */
  position: fixed;
}

#color {
  font-weight: bold;
  letter-spacing: 1px;
}

canvas {
  display: block;
  margin: auto;
  border: solid 1px black;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -ms-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}